<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face recognation - ...D.K...</title>
    <script defer src="../script/js/face-api.min.js"></script>
    <script defer src="../script/js/script.js"></script>
    <style>
        canvas{
            position:absolute;
        }
        body{
            margin: 0;
            padding: 0;
            display: flex;
        }
    </style>
</head>
<body>
    <video id="video" autoplay muted width="500" height="500"></video>
    <button id="captureButton">Capture</button>
    <button id="saveButton">Save</button>
    <img id="preview" src="" alt="Pré-visualização" width="640" height="360">
</body>
</html>