html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #0e1726;
}

div#container {
    position: relative;
    width: 100%; 
    height: 100%; 
  -ms-flex-align: center; 
  align-items: center; 
   margin: auto;
}
div#container h1 {
    color: white;
    text-align: center;
}

div#output {
    position: relative;
   
    background-color: green;
    width: 100%;
    height: 380px;
}
div#output video{
    position: absolute;
    display: block;
    margin: auto;
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);
    max-width: 100%; /* Para evitar que o vídeo exceda a div */  
    max-height: 100%; /* Para evitar que o vídeo exceda a div */ 
}

div#command{
    position: relative;
}

div#command div {
    position: relative;
    margin: auto;
    width: 310px;
    padding-left:2px;
   }

div#command div button{
   width: 100px;
   background-color: lightgray;
   color: black; /* Cor do texto */  
   border: 2px solid black; /* Borda dos botões */  
   border-radius: 5px; /* Bordas arredondadas */  
   padding: 10px 20px; /* Espaçamento interno */  
   font-size: 16px; /* Tamanho da fonte */  
   cursor: pointer; /* Muda o cursor ao passar sobre o botão */  
   transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */  
}

div#command div button:hover{
    background-color: #4CAF50; /* Cor de fundo ao passar o mouse */  
    color: white; /* Cor do texto ao passar o mouse */  
}
